nvidia-cuda-nvrtc-cu12==12.4.127
requests==2.32.3
nest-asyncio==1.6.0
triton==3.2.0
jupyterlab_pygments==0.3.0
propcache==0.3.0
decorator==5.2.1
click==8.2.1
cycler==0.12.1
parso==0.8.4
rfc3339-validator==0.1.4
jsonschema==4.23.0
safetensors==0.5.3
six==1.17.0
arrow==1.3.0
tensorboard==2.19.0
packaging==24.2
prometheus_client==0.21.1
charset-normalizer==3.4.1
mistune==3.1.3
h11==0.14.0
PyYAML==6.0.2
kiwisolver==1.4.8
nvidia-cusolver-cu12==11.6.1.9
torchmetrics==1.7.0
setuptools==75.8.0
Send2Trash==1.8.3
importlib_metadata==8.6.1
nvidia-cusparselt-cu12==0.6.2
tensorboard-data-server==0.7.2
typing_extensions==4.12.2
nvidia-cudnn-cu12==9.1.0.70
jupyter_client==8.6.3
fonttools==4.56.0
json5==0.10.0
anyio==4.9.0
babel==2.17.0
jupyter_server==2.15.0
multidict==6.2.0
imageio==2.37.0
notebook==7.3.3
psutil==7.0.0
scikit-image==0.25.2
diffusers==0.32.2
asttokens==3.0.0
MarkupSafe==3.0.2
nvidia-cuda-runtime-cu12==12.4.127
isoduration==20.11.0
contourpy==1.3.1
jsonschema-specifications==2024.10.1
soupsieve==2.6
executing==2.2.0
tinycss2==1.4.0
gitdb==4.0.12
zipp==3.21.0
overrides==7.7.0
torchvision==0.21.0
defusedxml==0.7.1
jupyter_core==5.7.2
accelerate==1.7.0
smmap==5.0.2
pytorch-lightning==2.5.1
nbclient==0.10.2
Werkzeug==3.1.3
absl-py==2.2.0
rfc3986-validator==0.1.1
nbconvert==7.16.6
nvidia-nvtx-cu12==12.4.127
jedi==0.19.2
python-json-logger==3.3.0
bleach==6.2.0
huggingface-hub==0.30.1
yarl==1.18.3
aiohappyeyeballs==2.6.1
lightning-utilities==0.14.2
sentry-sdk==2.32.0
pip==25.0
pillow==11.1.0
nvidia-curand-cu12==10.3.5.147
terminado==0.18.1
certifi==2025.1.31
jsonpointer==3.0.0
nvidia-nvjitlink-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
attrs==25.3.0
networkx==3.4.2
pexpect==4.9.0
astra-toolbox==2.3.0
pandocfilters==1.5.1
fqdn==1.5.1
beautifulsoup4==4.13.3
annotated-types==0.7.0
fsspec==2025.3.0
pycparser==2.22
filelock==3.18.0
torcheval==0.0.7
wcwidth==0.2.13
regex==2024.11.6
nvidia-nccl-cu12==2.21.5
mpmath==1.3.0
ipykernel==6.29.5
matplotlib-inline==0.1.7
argon2-cffi-bindings==21.2.0
httpx==0.28.1
typing-inspection==0.4.1
tornado==6.4.2
uri-template==1.3.0
webencodings==0.5.1
jupyter-events==0.12.0
nbformat==5.10.4
torch==2.6.0
kornia_rs==0.1.8
sniffio==1.3.1
webcolors==24.11.1
tqdm==4.67.1
numpy==2.2.4
cffi==1.17.1
aiohttp==3.11.14
wheel==0.45.1
Pygments==2.19.1
sympy==1.13.1
traitlets==5.14.3
pydantic==2.11.7
jupyterlab_server==2.27.3
idna==3.10
scipy==1.15.2
protobuf==6.30.1
ipython_pygments_lexers==1.1.1
notebook_shim==0.2.4
python-dateutil==2.9.0.post0
async-lru==2.0.5
nvidia-cufft-cu12==11.2.1.3
ipython==9.0.2
frozenlist==1.5.0
tifffile==2025.3.30
grpcio==1.71.0
ptyprocess==0.7.0
stack-data==0.6.3
Markdown==3.7
jupyter-lsp==2.2.5
nvidia-cuda-cupti-cu12==12.4.127
einops==0.8.1
fastjsonschema==2.21.1
jupyterlab==4.3.6
wandb==0.20.1
prompt_toolkit==3.0.50
jupyter_server_terminals==0.5.3
platformdirs==4.3.7
types-python-dateutil==2.9.0.20241206
GitPython==3.1.44
Jinja2==3.1.6
aiosignal==1.3.2
urllib3==2.3.0
referencing==0.36.2
argon2-cffi==23.1.0
lightning==2.5.1
lazy_loader==0.4
pydantic_core==2.33.2
pyparsing==3.2.3
pure_eval==0.2.3
kornia==0.8.0
comm==0.2.2
torchaudio==2.6.0
matplotlib==3.10.1
nvidia-cusparse-cu12==12.3.1.170
debugpy==1.8.13
setproctitle==1.3.6
httpcore==1.0.7
rpds-py==0.23.1
websocket-client==1.8.0
pyzmq==26.3.0
backports.tarfile==1.2.0
packaging==24.2
typing_extensions==4.12.2
zipp==3.19.2
tomli==2.0.1
importlib_metadata==8.0.0
autocommand==2.2.2
inflect==7.3.1
typeguard==4.3.0
jaraco.functools==4.0.1
platformdirs==4.2.2
jaraco.context==5.3.0
jaraco.text==3.12.1
more-itertools==10.3.0
jaraco.collections==5.1.0
wheel==0.43.0
